<pre><h1>                                             LOGIN</h1></pre><br>
<%if(messages.error){ %>
    <%= messages.error %>
    <% } %>
<form action="/login" method="POST">

    <div>
        <pre>                                                                          <label for="email">EMAIL</label>   </pre>
        <input type="email" id="email" name="email" style="margin-top:-30px;margin-left:17cm;" required>
 
    </div>
    <br>
    <div>
        <pre>                                                                         <label for="password">PASSWORD</label></pre>
        <input type="password" id="password" name="password" style="margin-top:-30px;margin-left:17cm;" required>
    </div>
    <button type="submit" style="margin-top:20px;margin-left:17cm;" >Login</button>
</form>
<a href="/register" style="margin-top:20px;margin-left:17cm;">Register</a>